################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/frontend/zumlo-voice-ui/node_modules
/frontend/zumlo-voice-ui/.angular/cache/17.3.17
/backend/.vs
/backend/Zumlo.Gateway.Api/TextFile.txt
/.vs/VSWorkspaceState.json
/.vs/Zumlo_repo/v17/.wsuo
/.vs/Zumlo_repo/v17/DocumentLayout.backup.json
/.vs/Zumlo_repo/v17/DocumentLayout.json
